* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #003;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Nyan Cat */
.nyan-cat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.nyan-cat img {
    width: 250px;
    height: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/* Rainbow */
.rainbow-container {
    position: fixed;
    top: 50%;
    left: 0;
    right: 50%;
    transform: translateY(-50%);
    z-index: 2;
    overflow: visible;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rainbow-frame {
    position: absolute;
    right: 0;
    width: 4em;
    height: 14px;
    animation: flowOut 0.8s ease-out forwards;
}

/* Individual color frames */
.rainbow-red {
    background: #ff0000;
    top: 0;
    animation-delay: 0s;
}

.rainbow-orange {
    background: #ff9900;
    top: 14px;
    animation-delay: 0.05s;
}

.rainbow-yellow {
    background: #ffff00;
    top: 28px;
    animation-delay: 0.1s;
}

.rainbow-green {
    background: #33ff00;
    top: 42px;
    animation-delay: 0.15s;
}

.rainbow-blue {
    background: #0099ff;
    top: 56px;
    animation-delay: 0.2s;
}

.rainbow-indigo {
    background: #6633ff;
    top: 70px;
    animation-delay: 0.25s;
}

.rainbow-violet {
    background: #9933ff;
    top: 84px;
    animation-delay: 0.3s;
}

@keyframes flowOut {
    0% {
        width: 0;
        transform: translateY(0);
    }
    100% {
        width: 100vw;
        transform: translateY(calc(var(--wave-offset, 0px)));
    }
}

/* Add wave variation to each frame */
.rainbow-red { --wave-offset: -3px; }
.rainbow-orange { --wave-offset: -2px; }
.rainbow-yellow { --wave-offset: 0px; }
.rainbow-green { --wave-offset: 2px; }
.rainbow-blue { --wave-offset: 3px; }
.rainbow-indigo { --wave-offset: 2px; }
.rainbow-violet { --wave-offset: 0px; }

/* Sparkles */
.sparkles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.sparkle {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    box-shadow: 
        0 0 3px #fff,
        0 0 6px #fff;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    animation: sparkleAnimation 1.5s ease-in-out forwards;
}

.sparkle::before,
.sparkle::after {
    content: '';
    position: absolute;
    background: #fff;
}

/* Pixelated star/sparkle shape */
.sparkle::before {
    width: 4px;
    height: 12px;
    left: 4px;
    top: 0;
}

.sparkle::after {
    width: 12px;
    height: 4px;
    top: 4px;
    left: 0;
}

@keyframes sparkleAnimation {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) rotate(360deg);
    }
}
